body {
	font-size: 12px;
	margin-left: 0px;
	margin-top: 0px;
}
.top1 {
	font-size: 12px;
	font-weight: bold;
	color: #770000;
}
.top2 {
	font-size: 12px;
	color: #C60001;
}
.top3 {
	font-family: "ו";
	font-size: 12px;
	color: #0F2771;
}
a:hover{
	 color:#970000;
	 text-decoration: 
	 underline:none; 
}
a{ 
	font-size: 12px;
	color: #C60001;
	text-decoration: none 
}
.text {
	font-size: 12px;
	color: #666666;
}
.text1 {
	font-size: 12px;
	color: #666666;
}
.style5 {font-size: 12px; color: #5A5A5A; }
.style4 {color: #5A5A5A}